Options +FollowSymlinks
RewriteEngine On
RewriteBase /app/plugin/messagIn/page/
RewriteRule ^allMessages/$  allMessages.php [L]
RewriteRule ^addMessage/$  addMessage.php [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /404.php