
/* SEARCH */
.leaflet-control.leaflet-control-search {
	z-index:2000;
}
.leaflet-control-search .search-input {
	display:block;
	float:left;
	background: #fff;
	border:1px solid #666;
	border-radius:2px;
	height:24px;
	font-size:0.9em;
	padding:0 .2em;
	margin:3px;
	padding-right:30px;
}
.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-button {
	background-image: url('/app/plugin/leaflet/images/search-icon-mobile.png');
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background-position: 3px 4px;
	width: 30px;
	height: 30px;
	background-size: 80%;
}
.leaflet-control-search.search-load .search-input {
	background: url('/app/plugin/leaflet/images/loader.gif') no-repeat center right #fff;
}
.leaflet-control-search .search-cancel {
	background-image: url('/app/plugin/leaflet/images/search-icon-mobile.png');
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background-position: 0px -63px;
	width:26px;
	height:26px;
	right:34px;
	margin:3px;
}
.leaflet-control-search .search-tooltip {
	max-height:142px;/*(.search-tip height * 5)*/
}
.leaflet-control-search .search-tip {
	font-size:1em;
	margin:2px;
	padding:2px;
	display:block;
	color:black;
	background: rgba(255,255,255,0.8);
	border-radius:.25em;
	text-decoration:none;	
	white-space:nowrap;
	vertical-align:center;
}
.leaflet-control-search .search-tip .climbo-icon-mini {
	float:right;
	display:block;
	white-space:nowrap;	
}
.leaflet-control-search .search-button:hover,
.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
		background-color: #fff;
}
.leaflet-control-search .search-alert {
	font-size:1.2em;
} 