input.inputUpdatePlanning::-webkit-calendar-picker-indicator {
    display: none;
}

table.tableNonEffect {
    border-collapse: separate !important;
    border-spacing: 3px !important;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    position: relative;
}

table.tableNonEffect tr {
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
}

table.tableNonEffect tbody tr:focus, table.tableNonEffect tbody tr:hover {
    transform: none !important;
    -moz-transform: none !important;
    -webkit-transform: none !important;
}

.tableNonEffect th, .tableNonEffect td {
    vertical-align: middle !important;
}

.littleContainer {
    padding: 10px 25px;
}

.littleTitle {
    font-weight: 900;
    font-size: 0.9em;
    display: block;
    padding: 5px 5px 0;
}

.littleText {
    font-weight: 500;
    font-size: 1em;
    display: block;
    padding: 4px 10px;
}

.heightThirdTitle {
    height: 35px;
    width: 100%;
    display: block;
    line-height: 35px;
}

.heightThirdTitle:nth-child(n+3) {
    min-height: 80px;
    width: 100%;
    display: block;
    line-height: 80px;
}

.heightThird {
    height: 35px;
    width: 100%;
    display: block;
    line-height: 35px;
}

.heightThird:nth-child(n+3) {
    min-height: 80px;
    width: 100%;
    display: block;
    vertical-align: middle;
    line-height: 16px;
}

#tableRightCursor {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 150px;
    color: #000;
    z-index: 10;
    cursor: pointer;
    opacity: 0.2;
    text-align: center;
    border: 0;
}

#tableLeftCursor {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 150px;
    color: #000;
    z-index: 10;
    cursor: pointer;
    display: none;
    opacity: 0.2;
    text-align: center;
    border: 0;
}

#tableRightCursor:hover, #tableLeftCursor:hover {
    opacity: 0.8;
}