@page {
    size: auto;
    margin: 0 2mm;
}

@media only print {

    #mainContent {
        position: static !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    div.productFields [class^="col-"],
    div.infoTable [class^="col-"] {
        padding-left: 5px !important;
        padding-right: 0 !important;
    }

    #tableRightCursor,
    #tableLeftCursor {
        display: none !important;
    }

}